html,body{
	height:100%;
	width:100%;
	overflow: hidden;
}

.header{
	//opacity: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: -123px;
	right: -152px;
	width: 1045px;
	height: 213px;
	background: url(../img/headerbg_clr.png) no-repeat;
	background-size: cover;
	box-sizing: border-box;
	z-index: 5;
	transition: transform .55s ease;
	transform: translateY(-3000px);
}
.wrapper{
	position: relative;
	width: 850px;
	margin-top: 123px;
	margin-left: auto;
	margin-right: auto;
	z-index: 4;
	transform: translateX(-85px);

	#prePanel-Content{
		margin-left: -11px;
		position: relative;
		width: 100%;
		height: 500px;
		transition: transform .35s ease;
		transform: translateX(-3000px);
	}
	#panel-Content{
		position: relative;
		height: 500px;
		top: -511px;
		transition: transform .35s ease;
		transform: translateX(-3000px);


		.topContent{
			display: flex;
			position: relative;
			width: 100%;
			//height: 95%;
			height: 99%;
			.leftContent{
				position: relative;
				width:60%;
				height:100%;
				.leftContent-top{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width:100%;
					height:101%;

					#slideshow {
							position: relative;
							width: 97%;
							height: 97%;
							border-radius: 5px;
							border: 2px solid black;
							box-sizing: border-box;
							div {
									position: absolute;
									height: 100%;
									width: 100%;
							}

							#slide1{
								background: url("../img/slides/toys1.jpg");
							}
							#slide2{
								background: url("../img/slides/toys2.jpg");
							}
							#slide3{
								background: url("../img/slides/toys3.jpg");
							}
							#slide4{
								background: url("../img/slides/toys4.jpg");
							}
							#slide5{
								background: url("../img/slides/toys5.jpg");
							}

					}
					/*
					#slideshow > div {
							position: absolute;
							top: 10px;
							left: 10px;
							right: 10px;
							bottom: 10px;
					}
					*/

					.leftContent-top-img{
						width: 97%;
						height: 97%;
						border-radius: 5px;
						background: url("../img/toys1.jpg")  no-repeat;
						background-position: center;
						background-size: cover;
						border: solid black 2px;
						//box-shadow: 2px 2px 2px rgba(36, 36, 36, 0.57);
					}
				}
				.leftContent-bottom{
					position: relative;
					display: flex;
					width:100%;
					height:25%;
					//text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.57);
					.leftContent-bottom-left{
						//display: flex;
						display: none;
						align-items: center;
						justify-content: center;
						width:50%;
						height:100%;

					}
					.leftContent-bottom-right{
						//display: flex;
						display: none;
						align-items: center;
						justify-content: center;
						width:49%;
						height:100%;
						border: solid black 2px;
						//box-shadow: 2px 2px 2px rgba(36, 36, 36, 0.57);
						box-sizing: border-box;
						ul{
							list-style-type: none;
							padding-left: 0;
							color: black;
							font-weight: bold;
							font-size: 18px;
							font-family: SourceSansPro-Regular;
							text-align: center;
							padding-bottom: 10px;
						}
						.nameLi{
							font-size: 25px;
							padding-bottom: 3px;
							padding-top: 5px;
						}
					}
				}

			}
			.rightContent{
				position: relative;
				width:40%;
				height:100%;
				.rightContent-top{
					display: flex;
					align-items: center;
					justify-content: center;
					width:100%;
					height:40%;
					.storePic{
						border-radius: 5px;
						margin-top: 6px;
						margin-right: 6px;
						width: 100%;
						height: 98%;
						background: url("../img/storefront.jpg")  no-repeat;
						background-position:top;
						background-size: cover;
						border: solid black 2px;
						//box-shadow: 2px 2px 2px rgba(36, 36, 36, 0.57);
					}
				}
				.rightContent-bottom{
					display: flex;
					align-items: center;
					justify-content: center;
					width:100%;
					height:60%;
					.map{
						border-radius: 5px;
						margin-top: 6px;
						margin-right: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						border: solid black 2px;
						//box-shadow: 2px 2px 2px rgba(36, 36, 36, 0.57);
						box-sizing: border-box;
						height:98%;
						width: 98%;
					}
				}

			}
		}
		.bottomContent{
			height:1%;
			width: 100%;
		}
	}


	.prePanel{
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		position: absolute;
		display: flex;
		border: black solid 2px;
		background: #ee443c;
	}

	.panel{
		border-radius: 5px;
		position: absolute;
		display: flex;
		flex-direction: column;
		background: #f9e02e;
		border: black solid 2px;
	}

	#prePanel-Nav{
		top: 515px;
		left: -10px;
		align-items: center;
		display: flex;
		width: 100%;
		height: 50px;
		z-index: 2;
		box-sizing: border-box;
		transition: transform .75s ease;
		transform: translateY(3000px);
	}

	#panel-Nav{
		top: 508px;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: row;
		width: 100%;
		background: #f9e02e;
		color: #ee443c;
		font-family: SourceSansPro-Regular;
		font-weight: bold;
		text-transform:uppercase;
		font-size: 24px;
		height: 50px;
		z-index: 2;
		box-sizing: border-box;
		font-size: 24px;
		transition: transform .75s ease;
		transform: translateY(3000px);

		.navBtns{
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 4px;
				padding-bottom: 4px;
			}
		.navBtns:hover{
			cursor: pointer;
			color: black;
		}
			#homeLink{
				//padding-left: 40px;
			}
		.spacer{
			font-size: 10px;
			font-weight: normal;
		}
	}


	#prePanel-Hours{
		height: 124px;
		width: 129px;
		left: 859px;
		top: 437px;

		transition: transform .75s ease;
		transform: translateX(3000px);
	}

	#panel-Hours{
		height: 124px;
		width: 129px;
		right: -149px;
		top: 430px;
		font-size: 22px;
		text-align: center;
		font-weight: bold;
		font-family: SourceSansPro-Regular;

		transition: transform .75s ease;
		transform: translateX(3000px);

		p{
			color: #f9e02e;
			font-family: flashrogers;
			text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
			background: #ee443c;
			border-bottom: 2px black solid;
			margin: 0px;
			padding-top: 2px;
			padding-bottom: 2px;
			font-size: 28px;
			border-radius: 3px 3px 0px 0px;
		}

		ul{
			list-style-type: none;
			padding-left: 7px;
			color: black;
			font-weight: bold;
			font-size: 16px;
			font-family: SourceSansPro-Regular;
			text-align: left;
			text-decoration: none;
			margin-top: 5px;
		}
		.hoursLi{
			font-size: 30px;
			text-align: left;

		}
		.hourTable{
			display:flex;
			height: 102px;
			ul #days{
				//padding-right: 50px;
			}
			#times{
					text-align: right;
			}
		}
	}

	#prePanel-Location{
		height: 92px;
    width: 129px;
    left: 859px;
    top: 74px;

		transition: transform .75s ease;
		transform: translateX(3000px);
	}

	#panel-Location{
		height: 92px;
    width: 129px;
    right: -149px;
    top: 67px;
    text-align: center;
    font-weight: bold;

		transition: transform .75s ease;
		transform: translateX(3000px);

		ul{
			list-style-type: none;
			padding-left: 0;
			color: black;
			font-weight: bold;
			font-size: 13px;
			font-family: SourceSansPro-Regular;
			text-align: center;
			padding-bottom: 10px;
			margin-top: 0px;
		}
		.nameLi{
		font-size: 28px;
		padding-bottom: 4px;
		color: #f9e02e;
		font-family: flashrogers;
		text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
		background: #ee443c;
		border-bottom: 2px black solid;
		padding-top: 3px;
		padding-bottom: 2px;
		border-radius: 3px 3px 0px 0px;
		}
	}

	#prePanel-Social{
		height: 45px;
		width: 131px;
		left: 859px;
		top: 11px;

		transition: transform .75s ease;
		transform: translateX(3000px);
	}
	#panel-Social{
		height: 45px;
    width: 131px;
    left: 866px;
    top: 4px;
		z-index: 6;

		transition: transform .75s ease;
		transform: translateX(3000px);

	#social{
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		width: 100%;
		font-size: 31px;
		div{
			padding:0;
		}
		&:hover{
			cursor: pointer;
		}
		.icon-facebook-squared:hover{
			color: #ee443c;
		}
		.icon-instagram:hover{
			color: #ee443c;
		}
		.icon-mail:hover{
			color: #ee443c;
		}
	}




	}
	.awardArea{

		position: absolute;
		display: flex;
		flex-direction: column;
		height: 369px;
		width: 167px;
		right: -157px;
	  top: 135px;
		transform: scale(0.75);


		.award{
			width:160px;
			height: 110px;
			background-size: cover;
			transform: translateX(3000px);
			transition: transform 1s ease;

		}
	}
	#a2013{
		background: url("../img/best2013sz.png") no-repeat;
	}
	#a2014{
		background: url("../img/best2014sz.png") no-repeat;
	}
	#a2015{
		background: url("../img/best2015sz.png") no-repeat;
	}


}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#0f204d url("../img/stars.png") repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url("../img/twinkling.png") repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


@font-face {
    font-family: SourceSansPro-Regular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: flashrogers;
    src: url(../fonts/flashrogers.ttf);
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?85718967');
  src: url('../fonts/fontello.eot?85718967#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?85718967') format('woff2'),
       url('../fonts/fontello.woff?85718967') format('woff'),
       url('../fonts/fontello.ttf?85718967') format('truetype'),
       url('../fonts/fontello.svg?85718967#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85718967#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-gmail:before { content: '\e800'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-note-beamed:before { content: '\e803'; } /* '' */
